body {
  /* задаём цвет всей странице */
  background-color: #d4ec9b8f;
  /* запрещаем выделение символов на странице */
  /* user-select: none; */
}
.container {
  /* Grid - набор пересекающихся горизонтальных и вертикальных линий, которые создают размерность и позиционируют систему координат для контента в самом grid - контейнере. */
  display: grid;
  /* создаём три столбца по одной фракции */
  grid-template-columns: 1fr 1fr 1fr;
  /* создаём три колонкиа по одной фракции */
  grid-template-rows: 1fr 1fr 1fr;
  /* задаём расстояние между ячейками */
  grid-gap: 40px;
  /* цвет задника */
  background-color: none;
  /* расст-е между содержимым и границей */
  padding: 4px;
  /* закругление элемента */
  border-radius: 5px;
  /* ограничиваем макс. ширину */
  max-width: 600px;
  /* стиль шрифта */
  font-family: "Times New Roman";
}

.item {
  background-color: #b3e5fc;
  /* цвет шрифта */
  color: #000;
  padding: 20px;
  /* инструмент равномерного распредления элементов внутри род.контейнера */
  display: flex;
  /* определяет, как браузер распределяет пространство между и вокруг элементов контента вдоль главной оси flex контейнера, или вдоль строчной оси grid контейнера. display: flex или grid*/
  justify-content: center;
  /* выравнивает flex-элементы текущей flex-линии таким же образом, как и justify-content, но в перпендикулярном направлении. */
  align-items: center;
  font-size: 26px;
  /* рука с указательным пальцем */
  cursor: pointer;
  font-weight: bold;
}
